small {
  color: gray;
}

#container {
  max-width: 300px;
  margin: auto;  
  font-family: 'Space Mono', monospace;
}
h1 {
  font-family: 'Long Cang', cursive;
}
#text, #add {
  font-family: 'Space Mono', monospace;
}

#themeAlign {
  text-align: right;
}
